﻿.detailed-seperator {
  border-right: 1px solid #656565; }

.detailed-block {
  border: 1px solid #656565;
  background-color: rgba(101, 101, 101, 0.3); }
  .detailed-block.success {
    border: 1px solid darkgreen;
    background-color: rgba(0, 100, 0, 0.3); }
  .detailed-block.error, .detailed-block.fail {
    border: 1px solid #801313;
    background-color: rgba(128, 19, 19, 0.3); }
  .detailed-block span.large-value {
    font-size: 1.2rem; }
