﻿@import "_variables.scss";

.detailed-seperator {
    border-right: 1px solid $unknown;
}

.detailed-block {
    border: 1px solid $unknown;
    background-color: rgba($unknown, .3);

    &.success {
        border: 1px solid $success;
        background-color: rgba($success, .3);
    }

    &.error, &.fail {
        border: 1px solid $fail;
        background-color: rgba($fail, .3);
    }


    span.large-value {
        font-size: 1.2rem;
    }
}