﻿html, body {
  height: 100%;
  font: 14px/1.2 'Quicksand';
  margin: 0;
  color: #8f8f8f; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Quicksand',Roboto Condensed; }

@keyframes border-pulsate {
  0% {
    border-color: #801313; }
  50% {
    border-color: #f1a1a1; }
  100% {
    border-color: #801313; } }

@keyframes overlay-pulsate {
  0% {
    background-color: rgba(10, 10, 10, 0.7); }
  50% {
    background-color: rgba(10, 10, 10, 0.9); }
  100% {
    background-color: rgba(10, 10, 10, 0.7); } }

.reveal {
  border: 0;
  top: 50% !important;
  transform: translateY(-50%) !important;
  height: initial !important;
  min-height: initial !important; }

.reveal-overlay {
  background-color: rgba(10, 10, 10, 0.7);
  animation: overlay-pulsate 2s;
  animation-iteration-count: 2; }

#pingdomModal {
  z-index: 9999;
  border: 5px solid red;
  background-color: black; }
  #pingdomModal .pingdom-warning {
    text-align: center;
    background-color: rgba(128, 19, 19, 0.4); }
  #pingdomModal .up {
    color: darkgreen; }

.grid-full-height {
  height: 100%; }

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
  display: block; }

header {
  background-color: #080808; }

nav a {
  color: #9d9d9d;
  text-decoration: none; }

nav ul {
  list-style: none;
  padding: 0.7em 0;
  margin: 0; }

nav li {
  display: inline-block;
  margin: 0 1em; }

nav li:first-child {
  font-size: 1.3em;
  margin-left: 0; }

main {
  padding: 2rem 0;
  display: block; }

/* This ensures the footer is always located at the bottom of the page */
.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; }

.wrapper:after {
  content: "";
  display: block; }

footer, .wrapper:after {
  height: 50px; }

footer .container {
  border-top: 1px solid #e1e1e1;
  padding-top: 10px; }

/* Changes the layout of the header on small screens */
@media only screen and (max-width: 640px) {
  header ul {
    text-align: center; }
  header li:first-child {
    display: block; } }

/* **** */
body {
  background-color: black; }

.pull-request-popout {
  background-color: black;
  padding: 10px 0px 10px 0px;
  border: 2px solid white;
  border-radius: 10px; }

.build-item {
  /*$border-left-width: 10px;
    border-left: $border-left-width solid $unknown;*/
  border: 1px solid #656565;
  overflow: hidden;
  background-color: rgba(101, 101, 101, 0.3);
  min-height: 80px !important; }
  .build-item.success {
    border-color: darkgreen;
    background-color: rgba(0, 100, 0, 0.3); }
  .build-item.error {
    border-color: #801313;
    background-color: rgba(128, 19, 19, 0.3); }
  .build-item.building {
    border-color: orange;
    background-color: rgba(255, 165, 0, 0.3); }
  .build-item .build-info {
    text-align: center; }
    .build-item .build-info h1, .build-item .build-info h2.h3, .build-item .build-info h4, .build-item .build-info h5, .build-item .build-info h6 {
      text-transform: uppercase;
      position: relative;
      font-weight: bold; }
      .build-item .build-info h1 span, .build-item .build-info h2.h3 span, .build-item .build-info h4 span, .build-item .build-info h5 span, .build-item .build-info h6 span {
        position: absolute;
        top: -20px;
        right: -15px;
        border: 2px solid #656565;
        padding: 5px; }
    .build-item .build-info .release-branches {
      text-align: left;
      display: inline-block;
      width: 49%; }
      .build-item .build-info .release-branches.right {
        text-align: right; }
    .build-item .build-info dl {
      width: 50%;
      float: left; }
      .build-item .build-info dl dt {
        margin-bottom: 0;
        padding-bottom: 0; }
