﻿<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="css/site.css">
    <link rel="stylesheet" href="css/detailed.css">
</head>
<body>
    

<div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-12">
            <h1>Crown Paints</h1>
        </div>
    </div>


    <div class="grid-x grid-padding-x grid-margin-x grid-margin-y">


        <div class="cell large-3">
            <div class="grid-x grid-padding-x grid-padding-y">
                <div class="cell large-12">
                    12 Pull Requests
                </div>
            </div>
        </div>


        <div class="cell large-6">
            <div class="grid-x grid-padding-x grid-padding-y grid-margin-x grid-margin-y">

                <div class="cell large-6 detailed-block">
                    <h4>Critical</h4>
                    <span class="large-value">0</span>
                </div>

                <div class="cell large-6 detailed-block success">
                    <h4>Code Smells</h4>
                    <span class="large-value">1</span>
                </div>

                <div class="cell large-6 detailed-block fail">
                    <h4>Blocker</h4>
                    <span class="large-value">1</span>
                </div>

                <div class="cell large-6 detailed-block">
                    <h4>Blocker</h4>
                    <span class="large-value">1</span>
                </div>

                <div class="cell large-6 detailed-block">
                    <h4>Dupe. Blocks</h4>
                    <span class="large-value">12</span>
                </div>

                <div class="cell large-6 detailed-block">
                    <h4>Blocker</h4>
                    <span class="large-value">1</span>
                </div>

                <div class="cell large-12 detailed-block">
                    <h4>Unit Tests</h4>
                    <span class="large-value">1</span>
                </div>

                <div class="cell large-6 text-center">
                    <h4>Dev:</h4>
                    <p>1.2.3-Develop</p>
                </div>

                <div class="cell large-6 text-center">
                    <h4>QA:</h4>
                    <p>1.2.3-Develop</p>
                </div>
            </div>
        </div>
    </div>
    
</div>                

    

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="handlebars-v4.0.12.js"></script>
    <script src="js/sockets/app.sockets.js"></script>
    <script src="js/site.js"></script>



    <script type="text/x-handlebars-template">
        <div>
            {{ }}
        </div>
    </script>


</body>
</html>
