﻿<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="css/site.css">
</head>
<body>

    <div class="large reveal" id="pingdomModal" data-reveal data-overlay="true" style="display: none;">
        <h1 class="pingdom-warning">Pingdom Warning</h1>
    </div>

    <iframe src="http://www.theregister.com" onload="this.width=screen.width;this.height=screen.height;"></iframe>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="js/vendor/handlebars-v4.0.12.js"></script>
    <script src="js/WSEventsDispatcher.js"></script>
    <script src="js/site.js"></script>

</body>
</html>

<script id="pingdomModalItemTemplate" type="text/x-handlebars-template">
    <div class="grid-x grid-margin-x grid-margin-y grid-padding-x align-middle pingdom-item" id="{{check_id}}">
        <div class="cell large-12">
            <h1>{{ check_name }}</h1>
        </div>
    </div>
</script>